
# Env vars
.env

# macOS
.DS_Store

# IDE/editor
.vscode/
.idea/

.wireguard.conf

# Keep only placeholders inside mounted volumes; real contents are ignored via local .gitignore files
# See: config/.gitignore, data/.gitignore, downloads/.gitignore